<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <main>
        <div class="box-body">
            <div class="txt-name">
                <img src="{% static 'img/img-logo.png' %}" alt="">
                <p>خیریه دستان مهربان کوی رضوان</p>
            </div>
            <br>
            <div class="txt-ash">
                <h2>ورود</h2>
            </div>
            <br>
            <br>
        </div>
    </div>
    </main>
    <div class="wrapper">
        <form action="" method="post" class="login-design">
            {% csrf_token %}
            {% if validlink %}
            <div class="form-group">
                <label for="exampleInputPassword1">رمز عبور</label>
            {% render_field form.new_password1|add_class:"form-control" placeholder="رمز عبور" %}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">تکرار رمز عبور جدید</label>
            {% render_field form.new_password2|add_class:"form-control" placeholder="تکرار رمز عبور جدید" %}
            </div>
            <br>
             {% else %}
                <p>لینک نامعتبر میباشد</p>
            {% endif %}
            {{ form.errors }}
            <button type="submit" value="submit" class="btn btn-primary">ویرایش</button>
        </form>
    </div>
{% endblock content %}
</body>
</html>