<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <main>
        <div class="box-body">
            <div class="txt-name">
                <img src="{% static 'img/img-logo.png' %}" alt="">
                <p>خیریه دستان مهربان کوی رضوان</p>
            </div>
            <br>
            <div class="txt-ash">
                <h2>ورود</h2>
            </div>
            <br>
            <br>
        </div>
    </div>
    </main>
    <div class="wrapper">
        <form action="" method="post" class="login-design">
            <h1>اطلاعات کاربری شما با موفققیت تغییر کرد</h1>
            <p><a href="{% url 'profile' %}">بازگشت به پروفایل</a></p>
        </form>
    </div>
{% endblock content %}
</body>
</html>